{
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"arrowParents": "always",
	"trailingComma": "es5",
	"bracketSameLine": false,
	"proseWrap": "never",
	"printWidth": 150,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "off",
	"htmlWhitespaceSensitivity": "css"
}
