name: Example Test - CI Framework Test for Xray with Cypress and GitHub Actions

on:
    workflow_dispatch:
        inputs:
            test_execution_key:
                description: 'https://dashboard.cypress.io/invitation/72fff246-cd4a-442e-8952-15b4b74a7872'
                required: false
                default: ''

jobs:
    in-sprint_test_US-GX-5_GitHub_Integration_for_Xray:
        runs-on: ubuntu-latest
        steps:
            - name: Github Actions
              uses: actions/checkout@v3

            - name: Cypress Run
              uses: cypress-io/github-action@v4.1.1
              with:
                  browser: chrome
                  spec: cypress/e2e/cucumber-test/Suites/Test-USexample/GX-5.feature
              env:
                  CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_RECORD_KEY}}
                  GITHUB_TOKEN: ${{secrets.ELY_GITHUB_TOKEN}}
                  CYPRESS_PROJECT_ID: ${{secrets.CYPRESS_PROJECT_ID}}

            - name: xray-action
              uses: mikepenz/xray-action@v2
              with:
                username: ${{secrets.XRAY_CLIENT_ID}}
                password: ${{secrets.XRAY_CLIENT_SECRET}}
                testFormat: 'cucumber'
                testPaths: 'cucumber-report.json'
                testExecKey: 'GX-5'
                projectKey: 'GX'
