#! Este archivo es un tutorial b치sico para ense침ar la sintaxis de YAML en GitHub Actions.
#todo: Vamos a configurar un pipeline simple para ejecutar pruebas con Cypress.

# Nombre del pipeline
name: 游빍 Tutorial B치sico de GitHub Actions para Cypress

# Aqu칤 se define CUANDO se ejecutar치 el Pipeline, puedes establecer muchas opciones...
on: [workflow_dispatch]
#? La opci칩n "workflow_dispatch"  hace que puedas ejecutarlo manualmente desde el Repositorio Remoto en GitHub, en la pesta침a "Actions", seleccionando el Pipeline y luego "Run workflow"

# Definimos los trabajos (jobs) que se ejecutar치n en este pipeline
jobs:
  # Nombre del trabajo (job)
  TestSuite:
    # Con runs-on definimos el sistema operativo donde se ejecutar치 este trabajo
    runs-on: ubuntu-latest
    #? environment: Se usa para definir un entorno de despliegue y puede incluir pol칤ticas de protecci칩n y secretos espec칤ficos del entorno.
    #? env: Se usa para definir variables de entorno que estar치n disponibles para todos los pasos dentro del job.

    # Definimos los pasos (steps) que se ejecutar치n en este trabajo
    steps:
    # Paso 1: Checkout del repositorio (casi siempre es el primer paso)
    - name: 游닂 Checkout del Repositorio
      uses: actions/checkout@v4
      # "uses" indica la acci칩n que se va a utilizar, en este caso, checkout para clonar el repositorio

    # Paso 2: Configurar Node.js
    - name: 游닍 Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        # with se usa para especificar par치metros para la acci칩n, en este caso, la versi칩n de Node.js

    # Paso 3: Instalar dependencias
    - name: 游 Instalar Dependencias
      run: |
        npm ci
        npm list
      # run se usa para ejecutar comandos de shell, en este caso, instalar dependencias y listarlas

    # Paso 4: Ejecutar pruebas de Cypress en Chrome
    - name: 游빍 Ejecutar Pruebas de Cypress en Chrome
      uses: cypress-io/github-action@v4 # Esta es la acci칩n oficial de Cypress para GitHub Actions
      with:
        browser: chrome
        command: |
          npm run test:run cypress/e2e/Tests/Elements
        # Aqu칤 especificamos el navegador y el comando para ejecutar las pruebas de Cypress

    # Paso 5: Subir el reporte de pruebas a GitHub
    - name: 游늵 Subir Reporte de Pruebas
      if: always() # el "if" es una condici칩n para ejecutar el paso, en este caso, siempre
      uses: actions/upload-artifact@v3
      with:
        name: mocha-report
        path: mochawesome-report
        # if: always() asegura que este paso se ejecute siempre, sin importar si los pasos anteriores fallaron
        # uses indica la acci칩n para subir artefactos, y with especifica el nombre y la ruta del reporte

# Si quieres aprender m치s sobre GitHub Actions, visita la documentaci칩n oficial
